SECRET_KEY=django-insecure-m(67i)vl2lgx0vo*20z9(qp*dm!$w33#(x*f@r1g%cj&t6jy_m
DEBUG=True
NAME=db_name
USER=postgres
PASSWORD=postgres
HOST=localhost
PORT=5432

DEFAULT_FROM_EMAIL=jhon@gmail.com

PER_PAGE=4

CACHE_ENABLED=True
CACHE_TTL=900
REDIS_LOCATION=redis://127.0.0.1:6379/1

# Настройки отправки почты через Яндекс SMTP
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.yandex.ru'
EMAIL_PORT = 465
EMAIL_USE_SSL = True
EMAIL_USE_TLS = False
# Учетные данные
EMAIL_HOST_USER = 'your_email@yandex.ru'  # Полный адрес почты
EMAIL_HOST_PASSWORD = 'your_app_password' # Пароль приложения, полученный на шаге 1
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER
SERVER_EMAIL = EMAIL_HOST_USER

