SECRET_KEY=django-insecure-m(67i)vl2lgx0vo*20z9(qp*dm!$w33#(x*f@r1g%cj&t6jy_m
DEBUG=True
NAME=db_name
USER=postgres
PASSWORD=postgres
HOST=localhost
PORT=5432

DEFAULT_FROM_EMAIL=jhon@gmail.com

PER_PAGE=4

CACHE_ENABLED=True
CACHE_TTL=900
REDIS_LOCATION=redis://127.0.0.1:6379/1
